.card {
    width: 300px;
    border: 2px solid $color-gray;
    overflow: hidden;
    background-color: $color-gray;
    padding-bottom: $padding-l;
    margin-bottom: $margin-l;
    transition: 0.5s;

    &__image {
        width: 100%;
        margin: auto;
        object-fit: cover;
        height: 390px;
    }

    &__desc {
        @include wauto(90%);
        

        &__title {
            font-size: 1rem;
            color: $color-primary;
            margin-top: $margin-m;
            overflow: hidden;
            text-overflow: clip;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
                    line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        &__price {
            margin-top: $margin-m;
            color: $color-accent-primary;
            font-size: 1rem;
        }
    }

    &:hover {
        transform: scale(1.2);
        transition: 0.5s;
        &>.card__image {
            width: 100%;
            object-fit: contain;
            transition: 0.5s;
        }
    }
}