.header {
    background-color: $color-gray;
    padding: $padding-m 0;

    &__container {
        @include wauto($medium-width);
        @include dflex(space-between);

        &__user {


            &__item {
                padding: $padding-s $padding-m;
            }
        }
    }
}

